main {
  width: calc(100% - 273.92px);
  position: relative;
  float: right;
}

@media (max-width: 1213px) {
  main {
    width: calc(100% - 230px);
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}

main #shop-more-button-check {
  display: none;
}

main #shop-more-button-check:checked ~ .shop-container {
  height: auto;
  overflow: visible;
}

main .shop-container {
  position: relative;
  overflow: hidden;
  margin-top: 116px;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  main .shop-container {
    margin-top: 25px;
    margin-bottom: 40px;
  }
}

main .shop-container .shop-container-RWD {
  margin: 0 auto;
}

@media (max-width: 1920px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(230px * 5 + 5px);
  }
}

@media (max-width: 1645px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(230px * 4 + 4px);
  }
}

@media (max-width: 1374px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(230px * 3 + 3px);
  }
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(136px * 6 + 30px);
  }
}

@media (max-width: 1190px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(136px * 5 + 25px);
  }
}

@media (max-width: 1072px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(136px * 4 + 20px);
  }
}

@media (max-width: 954px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(136px * 3 + 15px);
  }
}

@media (max-width: 768px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(136px * 5 + 25px);
  }
}

@media (max-width: 709px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(136px * 4 + 20px);
  }
}

@media (max-width: 568px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(136px * 3 + 15px);
  }
}

@media (max-width: 422px) {
  main .shop-container .shop-container-RWD {
    max-width: calc(136px * 2 + 10px);
  }
}

main .shop-container .shop-container-RWD .shop-heading {
  letter-spacing: 1px;
  font-size: 32px;
  margin-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  main .shop-container .shop-container-RWD .shop-heading {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

main .shop-container .shop-container-RWD .shop-heading .shop-heading-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #120561;
  font-weight: 800;
}

main .shop-container .shop-container-RWD .shop-heading .shop-heading-text .shop-heading-box {
  background-color: #120561;
  margin-top: 1px;
  margin-right: 20px;
  width: 14px;
  height: 28px;
}

@media (max-width: 768px) {
  main .shop-container .shop-container-RWD .shop-heading .shop-heading-text .shop-heading-box {
    width: 7px;
    height: 14px;
    margin-right: 14px;
  }
}

main .shop-container .shop-container-RWD .shop-heading .shop-heading-more {
  display: none;
}

@media (max-width: 768px) {
  main .shop-container .shop-container-RWD .shop-heading .shop-heading-more {
    width: 85px;
    font-size: 14px;
    display: none;
    justify-items: flex-end;
    color: #4D4D4D;
    font-weight: 500;
  }
}

main .shop-container .shop-container-RWD .shop-heading .shop-heading-more img {
  position: relative;
  left: 3px;
  top: -2px;
}

main .shop-container .shop-container-RWD .shop-content-container .page {
  position: relative;
  width: 100%;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content {
  margin-right: 1px;
  margin-bottom: 44px;
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content {
    margin: 0 2.5px 30px;
  }
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-img {
  position: relative;
  width: 230px;
  height: 225px;
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-img {
    width: 136px;
    height: 136px;
  }
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-img .shop-content-discount {
  width: 70px;
  height: 30px;
  padding-top: 2px;
  text-align: center;
  color: white;
  background-color: #120561;
  position: absolute;
  top: 0;
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-img .shop-content-discount {
    width: 44px;
    height: 18px;
    font-size: 12px;
    padding-top: 0;
  }
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-img .shop-content-picture {
  margin: 20px 21px;
  width: 191px;
  height: 191px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-img .shop-content-picture:hover {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0;
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-img .shop-content-picture {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price {
  width: 170px;
  margin-top: 10px;
  margin-left: 20px;
  letter-spacing: 1px;
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price {
    width: 130px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price {
    margin-top: 10px;
    text-align: left;
  }
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price .shop-content-name {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 3px;
  font-weight: 500;
  color: #4E4E4E;
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price .shop-content-name {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price .shop-content-name {
    color: #4D4D4D;
    font-size: 10px;
    font-weight: 500;
  }
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price .shop-content-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #8C8C8C;
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price .shop-content-price {
    display: block;
  }
}

@media (max-width: 768px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price .shop-content-price {
    color: #909090;
    font-size: 8px;
    font-weight: 400;
  }
}

main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price .shop-content-price .price-original {
  margin-left: 7.5px;
  margin-top: 2px;
  text-decoration: line-through;
  font-size: 12px;
}

@media (max-width: 1213px) {
  main .shop-container .shop-container-RWD .shop-content-container .page .shop-content .shop-content-name-price .shop-content-price .price-original {
    margin: 0px;
  }
}

main nav {
  margin-top: 50px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  main nav {
    display: none;
  }
}

main nav .pagination .page-item .page-link.prev, main nav .pagination .page-item .page-link.next {
  margin-left: 15px;
  margin-right: 15px;
}

main nav .pagination .page-item .page-link.first-page, main nav .pagination .page-item .page-link.prev, main nav .pagination .page-item .page-link.next, main nav .pagination .page-item .page-link.last-page {
  outline: #4D4D4D solid 1px;
}

main .shop-more {
  width: 200px;
  height: 38px;
  margin: 0 calc(50% - 100px) 105px;
  padding-top: 5px;
  background-color: white;
  border: #D9C052 1px solid;
  padding-bottom: 2px;
  padding-left: 5px;
  color: #D9C052;
  font-size: 16px;
  text-align: center;
  letter-spacing: 5px;
  display: none;
}

@media (max-width: 768px) {
  main .shop-more {
    display: block;
  }
}

main .shop-more:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: #FFFFFF;
  background-color: #D9C052;
}

main .page-link {
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  color: #4D4D4D;
  margin: 0 1px;
}

main .page-link:hover {
  color: #4D4D4D;
  background-color: #FFFFFF;
}

main .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.div-shadow {
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .div-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

a:visited {
  color: #4D4D4D;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.active_page {
  background-color: #E0C551 !important;
  border-radius: 50% !important;
  color: #FFFFFF !important;
}

.disabled {
  display: none;
}
/*# sourceMappingURL=listpage.css.map */