main {
  width: calc(100% - 273.92px);
  position: relative;
  float: right;
  min-height: auto !important;
}

@media (max-width: 1213px) {
  main {
    width: calc(100% - 230px);
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}

main .profile-container {
  margin: 118px auto 100px;
  width: 72%;
}

@media (max-width: 1229px) {
  main .profile-container {
    width: 75%;
  }
}

@media (max-width: 768px) {
  main .profile-container {
    width: 87.5%;
    margin: 20px auto 100px;
  }
}

main .profile-container .shop-heading {
  letter-spacing: 1px;
  font-size: 32px;
  margin-bottom: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  main .profile-container .shop-heading {
    margin-bottom: 20px;
    font-size: 18px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main .profile-container .shop-heading .shop-heading-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #120561;
  letter-spacing: 2px;
  font-weight: 800;
}

main .profile-container .shop-heading .shop-heading-text .shop-heading-box {
  background-color: #120561;
  margin-top: 1px;
  margin-right: 20px;
  width: 14px;
  height: 28px;
}

@media (max-width: 768px) {
  main .profile-container .shop-heading .shop-heading-text .shop-heading-box {
    width: 8px;
    height: 16px;
    margin-right: 10px;
  }
}

main .profile-container .shop-heading .shop-more {
  color: #E0C551;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 4px;
  padding-top: 10px;
  margin-left: 35px;
}

@media (max-width: 841px) {
  main .profile-container .shop-heading .shop-more {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-heading .shop-more {
    font-size: 16px;
    letter-spacing: 2px;
    padding-top: 1px;
    margin-left: 0px;
  }
}

main .profile-container .shop-profile-area {
  width: 100%;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color: #4D4D4D;
}

main .profile-container .shop-profile-area form {
  position: relative;
}

main .profile-container .shop-profile-area form .shop-profile-heading {
  letter-spacing: 1px;
  font-size: 24px;
  margin-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .shop-profile-heading {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

main .profile-container .shop-profile-area form .shop-profile-heading .shop-profile-heading-icon {
  margin-right: 16px;
}

main .profile-container .shop-profile-area form .shop-profile-heading .shop-profile-heading-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #120561;
  font-weight: 800;
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .shop-profile-heading .shop-profile-heading-text {
    padding-top: 5px;
  }
}

main .profile-container .shop-profile-area form .account-setting {
  width: 79%;
}

@media (max-width: 1583px) {
  main .profile-container .shop-profile-area form .account-setting {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting {
    font-size: 14px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 43px;
  margin-bottom: 78px;
}

@media (max-width: 1229px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content {
    margin-left: 0;
    display: block;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area {
  width: 200px;
  margin-right: 60px;
}

@media (max-width: 1229px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area {
    margin: 0 auto 30px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area {
    width: 130px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .account-photo {
  width: 200px;
  height: 200px;
  border-radius: 40%;
  background-image: url("../img/profile-photo.png");
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .account-photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .picture-choose-btn {
  width: 200px;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 50px;
  color: #E0C551;
  background-color: #FFFFFF;
  outline: #E0C551 solid 1px;
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .picture-choose-btn:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #E0C551;
  color: #FFFFFF;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .picture-choose-btn {
    margin-top: 65px;
  }
}

@media (max-width: 1229px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .picture-choose-btn {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .picture-choose-btn {
    width: 130px;
    font-size: 12px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .btn {
  font-size: 18px;
  padding-left: 16px;
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area .btn {
    width: 130px;
    font-size: 12px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-photo-area #picture-choose {
  display: none;
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area {
  width: 100%;
  font-weight: 600;
}

@media (max-width: 1229px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area {
    margin-left: 0;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .account {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .account {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .account {
    margin-bottom: 20px;
    letter-spacing: 4px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .account .account-original {
  margin-left: 40px;
  width: 41.25%;
  letter-spacing: 2px;
  color: #4D4D4D;
  font-weight: 400;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .account .account-original {
    margin-left: 0px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password {
    margin-bottom: 20px;
    letter-spacing: 4px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change {
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change {
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change {
    height: 34px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change input {
  width: calc(80% - 22px);
  margin-right: 22px;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change input {
    width: calc(100% - 142px);
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change input {
    width: 100%;
    margin-right: 0px;
    padding-right: 100px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change input:focus {
  outline: #E0C551 solid 2px;
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change .password-change-btn {
  width: 120px;
  height: 34px;
  border: none;
  letter-spacing: 2px;
  outline: #4D4D4D solid 1px;
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change .password-change-btn:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #4D4D4D;
  color: #FFFFFF;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change .password-change-btn {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .password .password-change .password-change-btn {
    position: absolute;
    right: 0px;
    width: 80px;
    outline: none;
    background-color: #E6E6E6;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section {
  display: none;
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password {
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password input {
  margin-left: 40px;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password input {
    margin-left: 0px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password input:focus {
  outline: #E0C551 solid 2px;
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password-checked {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password-checked {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password-checked {
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password-checked input {
  width: 78%;
  margin-left: 38px;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password-checked input {
    width: 100%;
    margin-left: 0px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .change-section .new-password-checked input:focus {
  outline: #E0C551 solid 2px;
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .name {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .name {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .name {
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .name input {
  margin-left: 40px;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .name input {
    margin-left: 0px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .name input:focus {
  outline: #E0C551 solid 2px;
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .phone-number {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .phone-number {
    margin-bottom: 20px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .phone-number input {
  margin-left: 40px;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .phone-number input {
    margin-left: 0px;
  }
}

@media (max-width: 1199px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .phone-number input {
    margin-left: 45px;
  }
}

@media (max-width: 1194px) {
  main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .phone-number input {
    margin-left: 0px;
  }
}

main .profile-container .shop-profile-area form .account-setting .account-setting-content .account-setting-area .phone-number input:focus {
  outline: #E0C551 solid 2px;
}

main .profile-container .shop-profile-area form .address-setting {
  width: 79%;
  font-weight: 600;
}

@media (max-width: 1583px) {
  main .profile-container .shop-profile-area form .address-setting {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .address-setting {
    font-size: 14px;
  }
}

main .profile-container .shop-profile-area form .address-setting .shop-profile-heading {
  margin-bottom: 15px;
}

main .profile-container .shop-profile-area form .address-setting .message {
  text-align: right;
  font-size: 14px;
  margin-bottom: 8px;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .address-setting .message {
    position: absolute;
    right: 21%;
    padding-top: 7.5px;
  }
}

@media (max-width: 1583px) {
  main .profile-container .shop-profile-area form .address-setting .message {
    right: 0%;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .address-setting .message {
    padding-top: 0;
  }
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content {
  margin-left: 43px;
}

@media (max-width: 1229px) {
  main .profile-container .shop-profile-area form .address-setting .address-setting-content {
    margin-left: 0px;
  }
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 16px;
  margin-bottom: 50px;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .address-setting .address-setting-content .address {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .address-setting .address-setting-content .address {
    margin-bottom: 20px;
    letter-spacing: 4px;
  }
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address .address-change {
  position: relative;
  width: 100%;
  height: 34px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1911px) {
  main .profile-container .shop-profile-area form .address-setting .address-setting-content .address .address-change {
    margin-left: 0;
    margin-top: -15px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .address-setting .address-setting-content .address .address-change {
    margin-top: -10px;
  }
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address .address-change input {
  width: 100%;
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address .address-change input:focus {
  outline: #E0C551 solid 2px;
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address .address-change input[type="text"] {
  margin-top: 0;
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address .address-change input[type="checkbox"],
main .profile-container .shop-profile-area form .address-setting .address-setting-content .address .address-change input[type="submit"] {
  margin-left: 0px;
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address input[type="checkbox"] {
  display: none;
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address input[type="checkbox"] + label {
  position: absolute;
  right: 5px;
  width: 17px;
  height: 16px;
  margin-top: 9px;
  margin-right: 10px;
  outline: #120561 solid 1px;
}

main .profile-container .shop-profile-area form .address-setting .address-setting-content .address input[type="checkbox"]:checked + label {
  background: url("../img/checked.png") center no-repeat;
}

main .profile-container .shop-profile-area form .save-btn {
  position: absolute;
  right: calc(10% - 100px);
  bottom: -4.5%;
  width: 200px;
  height: 40px;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  color: #E0C551;
  outline: #E0C551 solid 1px;
  padding: 0 10px;
}

main .profile-container .shop-profile-area form .save-btn:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: #FFFFFF;
  background-color: #E0C551;
}

@media (max-width: 1583px) {
  main .profile-container .shop-profile-area form .save-btn {
    position: static;
    margin-left: 42px;
  }
}

@media (max-width: 1229px) {
  main .profile-container .shop-profile-area form .save-btn {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  main .profile-container .shop-profile-area form .save-btn {
    margin: 20px calc(50% - 100px) 0;
  }
}

main input {
  width: 80%;
  height: 34px;
  padding-left: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: #4D4D4D solid 1px;
}

@media (max-width: 1911px) {
  main input {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
  }
}

main input[placeholder] {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  main input[placeholder] {
    font-size: 14px;
  }
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

.div-shadow {
  -webkit-box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .div-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.margin-left {
  margin-left: 40px;
}

@media (max-width: 1431px) {
  .margin-left {
    margin-left: 20px;
  }
}

@media (max-width: 1199px) {
  .margin-left {
    margin-left: 0px;
  }
}

.margin-right {
  margin-right: 40px;
}

@media (max-width: 1431px) {
  .margin-right {
    margin-right: 20px;
  }
}

@media (max-width: 1199px) {
  .margin-right {
    margin-right: 0px;
  }
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  margin-right: 0;
}

@media (max-width: 768px) {
  .text {
    width: 30px;
  }
}

.active {
  display: block !important;
}
/*# sourceMappingURL=profile.css.map */